*
    font-family: 'PT Sans', sans-serif
    box-sizing: border-box
    margin: 0

@media (max-width: 2561px)
    .header
        margin: 0.75rem 1.5rem
        display: flex
        justify-content: space-between
        &__logo
            width: 73.71px
            height: 32px
        &__tel
            display: inline-flex
            align-items: center
            &-link
                font-size: 14px
                font-weight: 400
                color: #616161
                text-decoration: none
                padding-left: 8px
                &:hover
                    text-decoration: underline



@media (max-width: 450px)
    .header
        margin: 0.75rem 0
        display: flex
        justify-content: center
        &__logo
            width: 73.71px
            height: 32px
        &__tel
            display: none


.reviews
    background-color: #f2f2f2
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    width: 100%
    &__title
        font-weight: 400
        font-size: 40px
    &__btn
        img
            transition: 0.8s all
            &:hover
                transform: scale(1.1)

@media (max-width: 2561px)
    .reviews
        min-height: 880px
        &__title
            margin-bottom: 6rem
        &__btn
            a
                padding: 0 3.3rem
            img
                width: 300px
                height: 300px


@media (max-width: 768px)
    .reviews
        min-height: 700px
        &__btn
            img
                width: 200px
                height: 200px


@media (max-width: 450px)
    .reviews
        min-height: 561px
        &__title
            margin-bottom: 4rem
            text-align: center
        &__btn
            a
                padding: 0 1.2rem
            img
                width: 110px
                height: 110px

.footer
    color: #ffffff
    font-weight: 400
    font-size: 14px
    background: #1B1B26
    width: 100%
    a
        color: #ffffff
        text-decoration: none
        &:hover
            text-decoration: underline
    &-bold
        font-weight: 700
        padding-top: 10px
        font-size: 18px
        

@media (max-width: 2561px)
    .footer
        display: flex
        min-height: 128px
        padding: 30px 75px 35px 75px
        flex-direction: row
        a
            display: inline-flex
            align-items: center
        &__time
            display: flex
            flex-direction: column
            min-width: 160px
            margin-right: 55px
        &__call
            margin-right: auto
            display: flex
            flex-direction: column
            min-width: 180px
        &__link
            min-width: 350px
            a
                padding: 7.5px 25px
        &__social
            display: flex
            margin-right: 72px
            a:first-child
                padding-right: 42px
            img
                padding-right: 10px
        &__tel
            display: none


@media (max-width: 1025px)
    .footer
        min-height: 119px
        padding: 12px 31.5px 33px 15px
        display: block
        &__time
            display: none
        &__call
            display: none
        &__link
            display: none
        &__social
            display: flex
            justify-content: center
            margin-right: 0
            margin-top: 13px
        &__tel
            display: block
            text-align: center
            a
                color: #32c220
                font-size: 16px



